{% extends '_base.html' %}

{% block content %}

<section
    id="index_section"
>
    <div>
        <div class="disappearing_line_box">
            <p class="call_to_action_typo">
                Scroll down to get started...
            </p>
        </div>

        <div class="disappearing_line_box">
            <p>
                Line 1
            </p>
        </div>
        <div class="disappearing_line_box">
            <p>
                Line 2
            </p>
        </div>
        <div class="disappearing_line_box">
            <p>
                Line 3
            </p>
        </div>
        <div class="disappearing_line_box">
            <p>
                Line 4
            </p>
        </div>

    </div>



</section>


{% endblock %}

